---
- name: be sure ntp is installed
  apt: 
    name: ntp 
    state: present
  tags:
    - ntp

- name: be sure ntpd is running and enabled
  service: 
    name: ntp 
    state: started 
    enabled: true
  tags:
    - ntp